html, body
{
  height: 100%;
  overflow: hidden;
}

div.container-fluid
{
  padding-top: 56px;
}

div.container-fluid
{
  padding-left: 0;
  padding-right: 0;
}

div.container-fluid, div.row, div.col, div.jumbotron
{
  height: 100%;
}

div.row
{
  height: 50%;
  margin-left: 0;
  margin-right: 0;
  overflow: scroll;
}

div.col
{
  padding: 0;
}

form
{
  padding: 15px;
}

div.row:first-of-type td:first-child,
div.row:first-of-type th:first-child
{
  text-align: right;
}

th
{
  white-space: nowrap;
}

span.badge
{
  margin-left: 15px;
}

span.deleted
{
  background-color: #f00;
}
span.inserted
{
  background-color: #0f0;
}
span.substituted
{
  background-color: #ff0;
}
